# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

!/src/main/java/dat/backend/model/persistence/ConnectionPool.java
!/src/test/java/dat/backend/persistence/UserMapperTest.java